@model PAViewModel
@{
    ViewData["Title"] = "Migration Report";
}

<div><iframe src="@Model.WebAddress" style="display: block;    
    border: none;
    height: calc(100vh - 30px);
    width: 100%;"></iframe></div>

