@model EAWebModel
@{
    ViewData["Title"] = "EAWeb";
}

<div><iframe src="@Model.EAWebAddress" style="display: block;
    background: #000;
    border: none;
    height: calc(100vh - 30px);
    width: 100%;"></iframe></div>

